 *{
    margin: 0;
 }

body, html {
    margin: 0; padding: 0; height: 100%; 
    }

.textoo{
    background-image: url('Images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.carta{
    background-image: url('Images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.contenedor{
    background-image: url('Images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 15%;

}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#aceptar{
    transform: translate(-100%,0);
}

#rechazar{
    position: absolute;

}


